@charset "UTF-8";
/* CSS Document */

#content {
}
#header {
    height: 80px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #E58916;
}
#navega {
    height: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #F0FA06;
}
#banner {
    height: 200px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #B6FF8B;
}
#mainhead {
    height: 30px;
    background-color: #E65CED;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
#contenido {
    height: 600px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #FBEE8B;
}
#footer {
    height: 150px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #FF0004;
}
#leftside {
    background-color: #7EFFD9;
    padding: 10px;
    float: left;
    height: 580px;
    width: 40%;
    margin-right: 15px;
}
#rigth {
	background-color: #0E59D5;
	padding: 10px;
	float: right;
	height: 580px;
	width: 55%;
	margin-bottom: 10px;
}
